form{
    border: 2px solid black;
    width: 400px;
    background-color: rgba(167, 167, 167, 1);
    margin: auto;
}

fieldset{
    margin: 5px;
}

legend{
    background-color: black;
    color: white;
    font-weight: bold;
    font-style: italic;
    
    margin: 4px;
    margin-left: 0px;
    padding: auto;
    border-radius: 7px;
    border: 5px solid;
    border-color: black;
}


input, select{
	margin-bottom: 3px;
    border: 2px solid;
    border-radius: 7px;
    width: 100%;
}

label {
	font-weight: bold; 
}

input:focus, select:focus{
    transition: background-color 0.3s ease-in;
	background-color: beige;
}

button{
    position: relative;
    border-radius: 5px;
    background-color: darkgray;
    border-color: black;
    margin-right: 10px;
    font-weight: bold;



}

button:hover{
    transition: background-color 0.1s ease-in;
    background-color: lightgray;
}

#butun{
    padding-left: auto;
}

.